# Frontend Config
VITE_API_URL=http://localhost:8000

# Backend Config
PORT=8000
FRONTEND_URL=http://localhost:5173

# Supabase Configurations
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=

# AI Pipeline
GROQ_API_KEY=
TAVILY_API_KEY=

# Vulnerability Integration APIs
NVD_API_KEY=

# Optional scanner configuration (for later)
OPENVAS_USERNAME=
OPENVAS_PASSWORD=